.sidbar-imag{
    width: 100%;
    height: 200px;
}

@media(min-width 600px){
    .top-navbar{
        box-shadow: 0 0 50px gray !important;
    }
    #top-actions-section{
        display: flex !important;
        align-items: center !important;
    }
}
.user-list-item.user-list-arow{
    transition: all 200ms ease;
}
.user-list-item.active .user-list-arow{
    transform: rotate(180deg);
}
.user-list-item.active{
    background-color: rgb(199, 196, 196);
}

table.highlight > tbody > tr {
    -webkit-transition: background-color .25s ease;
    transition: background-color .25s ease;
  }
  
  table.highlight > tbody > tr:hover {
    background-color: #7b1fa2
  }